/* 
    Document   : footer
    Created on : 01.04.2010, 20:08:57
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/

div#footer {
    clear:both;
}

#footer p {
    text-align:center;
    font-size:12px;
}