/* 
    Document   : menu
    Created on : 05.03.2011, 22:10:53
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/

/**************************************
                menu
**************************************/

ul#menu li.parent {
    list-style:none;
    font-size:14px;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    cursor: pointer;
    padding: 5px;
    background: #EAEAEA url('../images/package.png') 5px center no-repeat;
}

ul#menu li.parent a, ul#menu li.child a  {
    padding-left:20px;
}

ul#menu li.child {
    border-bottom: 1px solid #CFCFCF;
    border-top: 1px solid #FFFFFF;
    color: #3F3F3F;
    padding: 5px;
    background: url('../images/page.png')  5px center no-repeat;
}
