/* 
    Document   : reset
    Created on : 05.03.2011, 14:25:58
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/

/**************************************
Resets the default Stylesheet of the different Browsers
**************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, strong, sub, sup, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

input[type=submit], input[type=button] {
    border:0;
}

:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote, q { quotes: "/00AB" "/00BB"; }
