/* 
    Document   : sidebar
    Created on : 27.03.2010, 19:45:22
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/


#sidebar  {
    width:200px;
    float:left;
    padding:5px;
    /*margin: 35px 20px auto 20px;*/
}

/*
#sidebar h3 {
    margin:10px 0px 10px 0px;
    color:#333;
    text-align:center;
}

#sidebar label {
    display:block;
    float:left;
    width:100px;
    margin:0px 10px 0px 0px;
}

#sidebar #suche input[type=button], #sidebar #suche input[type=text] {
    margin:0px 0px 10px 0px;
    width:200px;
    height:18px;
}

#sidebar #suche input[type=button] {
    height: 25px;
}

#sidebar input[type=text], #sidebar input[type=submit] {
    margin:0px 0px 10px 0px;
    width:200px;
    height:18px;
}

#sidebar input[type=submit] {
    height: 25px;
}

#sidebar input[type=submit] {
    margin:5px 0px 5px 0px;
}

#sidebar select {
    width:200px;
    margin:0px 0px 10px 0px;
}
*/