/* 
    Document   : tables
    Created on : 05.03.2011, 14:37:10
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/


/**************************************
               tablesorter
**************************************/

/*table.tablesorter tbody tr.even td {
    background-color:#EAEAEA;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #DFDFDF;
    border-right:1px solid #BFBFBF;
    border-bottom:1px solid #BFBFBF;
    border-top:1px solid #BFBFBF;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('../images/tablesorter/desc.gif');
}

table.tablesorter thead tr .headerSortUp {
    background-image: url('../images/tablesorter/asc.gif');
}

table.tablesorter tr {
    cursor:pointer;
}*/


/**************************************
           maintable columns
**************************************/


table th.delete {
    cursor: default;
    border-right:none;
    background-image:none;
    background-color:#F0F0F0;
}

table td.delete {
    border-right:none;
}

table td.delete {
    border-right:none;
}

table th.edit {
    cursor: default;
    background-image:none;
    background-color:#F0F0F0;
    background-image:none;
}

table tr.even {
    background-color:#EAEAEA;
}

