/*
    Document   : template
    Created on : 01.04.2010, 20:08:57
    Author     : Nico Schmitz <cofilew@gmail.com>
    Description: This is the main stylesheet for the
    RedWombat system.
*/


/**************************************
Resets the default Stylesheet of the different Browsers
**************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, strong, sub, sup, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

input[type=submit] {
    border:0;
}

:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote, q { quotes: "/00AB" "/00BB"; }


html, body {
    font-family:Arial,sans-serif;
    background-color:#A62424;
    font-size:14px;
    color:#555;
}

/**************************************
            generic stuff
**************************************/

.invisible {visibility:hidden;}
.inline {display:inline;}
.absolute {position:absolute;}
.relative {position:relative;}
.full {overflow:hidden;}
.right {float:right;}
.left {float:left;}
.clear {clear:both;}


/**************************************
            typography
**************************************/

h3 {
    margin:0 10px 0 0;
}

p {
    margin:10px 0 10px 0;
}



cite {
    display:block;
    text-align:center;
    padding:40px 0px 0px 0px;
    margin:0px 20px 40px 20px;
    color:#707070;
    font-style:italic;
}


/**************************************
              container
**************************************/


div#container {
    padding: 20px;
    width:960px;
    background-color: #F0F0F0;
    -moz-border-radius: 5px;
    overflow:hidden;
}

/**************************************
              wrapper
**************************************/

div#wrapper {
    width:960px;
    margin:auto;

}

/**************************************
                login
**************************************/


#login {
    background-color:#F0F0F0;
    width:300px;
    margin:10px auto 0px auto;
    padding:20px;
    -moz-border-radius:10px;
}

#login input[type=text], #login input[type=password] {
    margin: 2px 6px 3px 0;
    padding:3px 3px 5px 35px;
}

input#username, input#password , input#loginSubmit {
    background-repeat: no-repeat;
    background-position: 10px 5px;
    margin:15px 0 0 0;
}

input#username {
    background-image:url('../images/user_green.png');
}

input#password {
    background-image:url('../images/key.png');
}

input#loginSubmit {
    background-image:url('../images/door_in.png');
    background-position: 90px 5px;
}

/**************************************
                content
**************************************/

div#content {
    width:100%;
}

/**************************************
                footer
**************************************/

div#footer {
    clear:both;
}

#footer p {
    text-align:center;
    font-size:12px;
}


.highlight {
    color:#C91715;
}

/**************************************
            navigation
**************************************/


div#navigation {
    min-width:100%;
    height:26px;
    margin-top:20px;
}



/**************************************
                menu
**************************************/

#menu {
    float:right;
    width:935px;
    text-align:center;
}

#menu ul li {
    list-style:none;
}

#menu a:link, #menu a:visited {
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color:#EAEAEA;
    color:#777;
    border-left:1px solid #CFCFCF;
    border-right:1px solid #CFCFCF;
    border-top:1px solid #CFCFCF;
    text-align:center;
    margin:0 5px 0 0;
    padding:5px 5px 5px 25px;
    display:block;
    float:left;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    height:15px;
}

#menu a.home {
    background-image:url('../images/house.png');
}

#menu a.movie {
    background-image:url('../images/film.png');
}

#menu a.music {
    background-image:url('../images/music.png');
}

#menu a.image {
    background-image:url('../images/images.png');
}

#menu a.contact {
    background-image:url('../images/user.png');
}

#menu a.document {
    background-image:url('../images/page.png');
}

#menu a.calendar {
    background-image:url('../images/calendar.png');
}

#menu a.configuration {
    background-image: url('../images/cog.png');
}

#menu a.logout {
    background-image: url('../images/door_out.png');
}


#menu a:hover, #menu a:active {
    background-color:#EAEAEA;
}


/**************************************
                sidebar
**************************************/


#sidebar  {
    width:170px;
    float:left;
    padding:5px;
    margin-right:10px;
}

/**************************************
                table
**************************************/

table {
    font-size:12px;
    width:100%;
    margin-top:4px;

}

table thead th {
    background-image: url(../images/tablesorter/bg.gif);
}

table thead tr {
    background-color:#EAEAEA;
    margin:5px;
}

table th {
    padding:5px;
    border-right:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    border-top:1px solid #DFDFDF;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}


table th.delete {
    cursor: default;
    border-right:none;
    background-image:none;
    background-color:#F0F0F0;
}

table td.delete {
    border-right:none;
}

table td.delete {
    border-right:none;
}

table th.edit {
    cursor: default;
    background-image:none;
    background-color:#F0F0F0;
    background-image:none;
}

table tr.even {
    background-color:#EAEAEA;
}

table td {
    padding:5px;
    border-right:1px solid #CFCFCF;
    border-bottom:1px solid #CFCFCF;
    border-top:1px solid #fff;
    color:#3F3F3F;
    vertical-align: top;
}

table tbody td {
    background-color: #F0F0F0;
}

/**************************************
                form
**************************************/

/*input[type=text], input[type=password],
input[type=button], input[type=submit] {
    -moz-border-radius: 5px;
    border:1px solid #CFCFCF;
    width:100%;
    padding:4px;
}

input[type=text], input[type=password] {
    color:#262626;
}

input[type=button], input[type=submit] {
    color:#777;
    background-color:#F0F0F0;
    margin-bottom:15px;
    cursor:pointer;
}

select {
    border:1px solid #CFCFCF;
    -moz-border-radius: 5px;
    font-size:14px;
    color:#262626;
}

input[type=button]:hover, input[type=submit]:hover {
    background-color:#EAEAEA !important;
}*/

/**************************************
                controls
**************************************/


form#controls {
    margin:0 0 10px 0;
}

form#controls input[type=text] {
}

form#controls select {
    width:100%;
}

form#controls div.box {
    overflow: hidden;
    margin:0 0 30px 0;
}

form#controls input#searchSubmit, form#controls input#add,
form#controls input#del, form#controls input#change,
form#controls input#import, form#controls input#export {
    background-repeat:no-repeat;
    background-position: 25px 7px;
}

form#controls input#searchSubmit  {
    background-image: url('../images/magnifier.png');
    margin:10px 0 0 0;
}

form#controls input#add  {
    background-image:url('../images/table_add.png');
}

form#controls input#del  {
    background-image:url('../images/table_delete.png');
}

form#controls input#change  {
    background-image:url('../images/table_edit.png');
}

form#controls input#export {
    background-image:url('../images/application_go.png');
}

form#controls input#import  {
    background-image:url('../images/application_get.png');
}

.searchbar {
    margin-bottom: 10px;
}

div#pager {
    margin:10px 0 0 0;
    float:right;
}

div#pager input.pagedisplay {
    width:45px;
}

/*div#pager input[type=button] {
    height:21px;
    padding:0 1px 1px 0 !important;
    width:22px;
}

div#pager input.active[type=button] {
    background-color: #A62424;
    color:#F0F0F0;
    border:0;
}

div#pager input.active[type=button]:hover {
    background-color: #A62424;
    color:#F0F0F0;
    border:0;
}*/

/* tables */

table.tablesorter tbody tr.even td {
    background-color:#EAEAEA;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #DFDFDF;
    border-right:1px solid #BFBFBF;
    border-bottom:1px solid #BFBFBF;
    border-top:1px solid #BFBFBF;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('../images/tablesorter/desc.gif');
}

table.tablesorter thead tr .headerSortUp {
    background-image: url('../images/tablesorter/asc.gif');
}

table.tablesorter tr {
    cursor:pointer;
}

form#searchbar {
    margin-bottom: 10px;
    clear:both;

}

form#searchbar input[type=text] {
    width:92%;
    float:left;
    height:26px;
    margin-right:7px;
    -moz-border-radius:5px;
    border:1px solid #CFCFCF;
    color:#707070;
    padding:4px;
}



/* Copyright ZURB, freely available for distrubition under the MIT license. */

/** Awesome Buttons **/

.awesome{
    background: #222 url(../images/awesome/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.awesome:hover {
    background-color: #111;
    color: #fff;
}

/* Sizes ---------- */
.small.awesome {
    font-size: 11px;
}
.medium.awesome {
    font-size: 13px;
}
.large.awesome {
    font-size: 14px;
    padding: 8px 14px 9px;
}
/* Colors ---------- */
.blue.awesome {
    background-color: #2daebf;
}
.red.awesome {
    background-color: #e33100;
}
.magenta.awesome {
    background-color: #a9014b;
}
.orange.awesome {
    background-color: #ff5c00;
}
.yellow.awesome {
    background-color: #ffb515;
}

.attention {
    background:url('../images/error.png') center left no-repeat;
    padding:5px 5px 5px 25px;
}

form#edit fieldset {
    margin-bottom:10px;
}

form#edit input[type=text], form#edit input[type=select], textarea  {
    width:256px;
    border:1px solid #CFCFCF;
    color:#707070;
    padding:4px;
}

form#edit label {
    width:100px;
    display:block;
    margin-bottom:4px;
}

form#edit input[type=button] {
    border:0;
}

/*


form.edit input {
    display:block;
}



form-edit input[type=submit] {
    clear:both;
}*/