/*
    Document   : template
    Created on : 01.04.2010, 20:08:57
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/


/* reset.css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, strong, sub, sup, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote, q { quotes: "/00AB" "/00BB"; }


html, body {
    font-family:'Arial';
    background-color:#F2F2F0;
    font-size:14px;
}

/**************************************
           Allgemeine Klassen
**************************************/

.invisible {visibility:hidden;}
.absolute {position:absolute;}
.relative {position:relative;}
.full {overflow:hidden;}
.right {float:right;}
.clear {clear:both;}

p.error {
    text-align:center;
    background: url('../images/icons/error.png') no-repeat;
    background-position: 30px 5px;
    color:#fff;
    padding:5px;
    margin-bottom:10px;
    font-size:14px;
}

div#container {
    margin: 40px auto 0px auto;
    width:850px;
    color:#69635e;
}

div.box {
    width:100%;
}


/* anmeldung.css */



#login {
    background-color:#3F3F3F;
    width:300px;
    color:#fff;
    margin:10px auto 0px auto;
    padding:20px;
    -moz-border-radius:10px;
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    font-size:12px;
}

#login input[type=text], #login input[type=password] {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size:14px;
    margin-bottom:16px;
    margin-right:6px;
    margin-top:2px;
    padding:3px 3px 5px 35px;
    width:99%;
    border:0;

}

#login input[type=button], #login input[type=submit] {
    background-color: #C61D24;
    display: inline-block;
    padding: 6px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 0;
    cursor: pointer;
    text-align:center;
    font-size:14px;
    width:49%;
}

input#username {
    background: #fff url('../images/icons/user_green.png') no-repeat;
    background-position: 10px 5px;
}

#login input#login:hover, a#register:hover {
    background-color: #DF1B28;
}

#login a {
    background-color: #C61D24;
    display: inline-block;
    padding: 8px 10px 9px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border: 0 none;
    cursor: pointer;
    text-align:center;
    font-size:14px;
    width:43%;
}

#login label {
    display:block;
    color:#262626;
    font-size:14px;
    top:8px;
    left:35px;
}

.loginlogo {
    display:block;
    margin:auto;
}

/* content.css */

div#content {
    float:left;
    width:600px;
}

/* footer.css */

div#footer {
    clear:both;
}

#footer p {
    text-align:center;
    font-size:12px;
}

/* header.css */
div#header {
    background-image:url('../images/border.jpg');
    background-position:top left;
    background-repeat:repeat-x;
    min-width:100%;
    height:50px;
}

cite {
    display:block;
    text-align:center;
    padding:40px 0px 0px 0px;
    margin:0px 20px 40px 20px;
    color:#707070;
    font-style:italic;
}

.highlight {
    color:#C91715;
}

/* navigation.css */


div#navigation {
    background-color:#D1D5D4;
    min-width:100%;
    height:50px;
}

#navigation a:link.logo, #navigation a:visited.logo {
    background:#D1D5D4 url('bilder/logo.jpg') no-repeat top left;
    height:50px;
    width:385px;
    display:block;
    margin:0px 0px 0px 20px;
    float:left;
    padding:0px 0px 0px 0px;
}

#navigation #menu {
    float:right;
    width:630px;
}

#navigation #menu ul li {
    list-style:none;
}

#navigation a {
    text-decoration:none;
}

#navigation #menu a:link, #navigation #menu a:visited {
    display:block;
    float:left;
    background-color:#bdc1c0;
    -moz-border-radius: 5px;
    padding:5px 5px 5px 5px;
    color:#fff;
    text-align:center;
    margin:12px 15px 0px 0px;
}

#navigation #menu a:hover, #navigation #menu a:active {
    background-color:#c61d24;
}

/* registrieren.css */



input#password, input#password_repeat {
    background: #fff url('../images/icons/key.png') no-repeat;
    background-position: 10px 5px;
}

input#email {
    background: #fff url('../images/icons/email.png') no-repeat;
    background-position: 10px 5px;
}

input#forename {
    background: #fff url('../images/icons/user_orange.png') no-repeat;
    background-position: 10px 5px;
}

input#name {
    background: #fff url('../images/icons/user_gray.png') no-repeat;
    background-position: 10px 5px;
}

/* sidebar.css */


#sidebar  {
    width:200px;
    float:left;
    padding:5px;
    /*margin: 35px 20px auto 20px;*/
}



