/*
    Document   : template
    Created on : 01.04.2010, 20:08:57
    Author     : Nico Schmitz <cofilew@gmail.com>
    Description: This is the main stylesheet for the
    RedWombat system.
*/


/**************************************
Resets the default Stylesheet of the different Browsers
**************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, strong, sub, sup, var, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}


/**************************************
            typography
**************************************/

h1 {

}

h2 {
    color:#333;
    text-transform:uppercase;
    border-bottom:2px solid #2DAEBF;
    margin-bottom:15px;
    padding-bottom:6px;
}

h3 {
    margin:0 10px 0 0;
}

h4 {

}

h5 {

}

h6 {

}

p {
    margin:10px 0 10px 0;
}


cite {
    display:block;
    text-align:center;
    padding:40px 0px 0px 0px;
    margin:0px 20px 40px 20px;
    color:#707070;
    font-style:italic;
}

/**************************************
        lists ul ol li dl dd etc
**************************************/

ul {

}

li {

}

input, select {
    font-size:12px;
}

select {
    color:#333;
}

/**************************************
            positioning
**************************************/



.full {
    overflow:hidden;
}

.right {
    float:right;
}

.left {
    float:left;
}

.clear {
    clear:both;
}

.absolute {
    position:absolute;
}

.relative {
    position:relative;
}


/**************************************
            displaying
**************************************/

.invisible {
    visibility:hidden;
}

.inline {
    display:inline;
}

/**************************************
       highlighting, coloring etc
**************************************/

.attention {
    background: #FFF6CF url('../images/error.png') 5px center no-repeat;
    padding:5px 5px 5px 25px;
    border: 1px solid #FFDD3F;
}

.highlight {
    color:#C91715;
}

.non-clickable {
    cursor:default;
}

input[type=submit], input[type=button] {
    border:0;
}

:focus { outline: 0; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; }

blockquote, q { quotes: "/00AB" "/00BB"; }


/**************************************
        Basic Document CSS
**************************************/

html, body {
    height:100%;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #555;
    color:#564b47;
    font-size:12px;
}



/**************************************
              wrapper
**************************************/
/**************************************
        wrapper & main structur
**************************************
html
    body
        wrapper
            sidebar /sidebar
            content /content
    /body
/html
**************************************/

div#wrapper {
    margin: 40px auto 0 auto;
    width:960px;
    overflow: hidden;
    background-color:#F0F0F0;
    -moz-border-radius:10px;
    box-shadow:2px 2px 6px #000;
}

/**************************************
                content
**************************************/

#content {
    float: left;
    width: 720px;
    padding: 20px 20px 20px 0;
}


/**************************************
            sidebar
**************************************/
/**************************************
            sidebar structur
**************************************
sidebar
    ul#menu
        li
            a
        /li
    /ul#menu
/sidebar
**************************************/

#sidebar {
    float: left;
    width: 200px;
    padding:10px;
}

div.box {
    margin:10px;
}

/**************************************
                menu
**************************************/



.jstree-default.jstree-focused {
    background-color:#F0F0F0 !important;
}

ul#menu {
    padding:10px 0 10px 0;
    font-size:12px;
    font-weight:normal;
}

ul#menu .ui-state-default {
    margin:0 0 5px;
    display:inline-block;
}

/**************************************
                table
**************************************/

table {
    width:100%;
    font-size:12px;
}

table thead tr {
    background-color:#EAEAEA;
    margin:5px;
}

table th {
    padding:5px;
    border-right:1px solid #DFDFDF;
    border-bottom:1px solid #DFDFDF;
    border-top:1px solid #DFDFDF;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table td {
    padding:5px;
    border-right:1px solid #CFCFCF;
    border-bottom:1px solid #CFCFCF;
    border-top:1px solid #fff;
    color:#3F3F3F;
    vertical-align: top;
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #DFDFDF;
    border-right:1px solid #BFBFBF;
    border-bottom:1px solid #BFBFBF;
    border-top:1px solid #BFBFBF;
}

table.tablesorter thead tr .headerSortDown {
    background-image: url('../images/tablesorter/desc.gif');
}

table.tablesorter thead tr .headerSortUp {
    background-image: url('../images/tablesorter/asc.gif');
}


/**************************************
           main table columns
**************************************/

table tr.even {
    background-color:#EAEAEA;
}

table.tablesorter tr:hover td {
    background-color:#555 !important;
}

table.tablesorter tr:hover td {
    color:#fff;
}

table a.edit {
    background:url('../images/pencil.png') 0 0 no-repeat;
    width:16px;
    height:16px;
    display:block;
}

table a.show {
    background:url('../images/page.png') 0 0 no-repeat;
    width:16px;
    height:16px;
    display:block;
}

table a.delete {
    background:url('../images/bin_closed.png') 0 0 no-repeat;
    width:16px;
    height:16px;
    display:block;
}

table th.show, table th.delete, table th.edit {
    background-color: #F0F0F0;
}

/**************************************
                form
**************************************/


/**************************************
                controls
**************************************/


form#controls {
    margin:0 0 10px 0;
}

form#controls input[type=text] {
}

form#controls select {
    width:100%;
}

form#controls div.box {
    overflow: hidden;
    margin:0 0 30px 0;
}

form#controls input#searchSubmit, form#controls input#add,
form#controls input#del, form#controls input#change,
form#controls input#import, form#controls input#export {
    background-repeat:no-repeat;
    background-position: 25px 7px;
}

form#controls input#searchSubmit  {
    background-image: url('../images/magnifier.png');
    margin:10px 0 0 0;
}

form#controls input#add  {
    background-image:url('../images/table_add.png');
}

form#controls input#del  {
    background-image:url('../images/table_delete.png');
}

form#controls input#change  {
    background-image:url('../images/table_edit.png');
}

form#controls input#export {
    background-image:url('../images/application_go.png');
}

form#controls input#import  {
    background-image:url('../images/application_get.png');
}


/**************************************
                pager
**************************************/


div#pager {
    margin:10px 0 0 0;
    float:right;
}

div#pager input.pagedisplay {
    width:45px;
}


form#searchbar {
    margin-bottom: 10px;
    clear:both;

}

select.pagesize {
    display:none;
}

/**************************************
              searchbar
**************************************/

form#searchbar input[type=text] {
    width:78%;
    float:left;
    height:26px;
    margin:0 7px 0 7px;
    -moz-border-radius:5px;
    border:1px solid #CFCFCF;
    color:#707070;
    padding:4px 4px 4px 25px;
    background-image:url('../images/magnifier.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}


/**************************************
              edit
**************************************/


form#edit {
    padding-top:20px;
}

form#edit fieldset {
    margin-bottom:10px;
}

form#edit input[type=file] {
    width:350px;
}

form#edit input[type=text], form#edit input[type=select], form#edit textarea,
select#format, select#genre, select#rating {
    width:230px;
/*    border:1px solid #CFCFCF;*/
    border:1px solid #BBBBBB;
    background-color:#fff;
    background: #fff url("../images/input-bg.png") no-repeat 0 0;
    color:#333;
    padding:4px;
/*    -moz-border-radius:5px;*/
}

form#edit input:focus, form#edit textarea:focus, form#edit select:focus {
    border: 1px solid #2DAEBF;
/*    color: #333333;*/
    outline: medium none;
/*    padding: 2px 3px;*/
}

form#edit label {
    width:100px;
    margin-bottom:4px;
    display:block;
    float:left;
    padding-top:6px;
}

form#edit img {
    display:block;
}

form#operations {
    padding:15px 0 0 0;
}

form#operations fieldset {
    padding-bottom:10px;
}

form#edit .attention {
    font-size:11px;
}

fieldset#toolbar {
    display: inline;
    float:left;
}

fieldset#toolbar a {
    margin-right:5px;
}

form#edit textarea {
}


/* Copyright ZURB, freely available for distrubition under the MIT license. */

/**************************************
            awesome main
**************************************/

.awesome {
    background: #222 url(../images/awesome/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.awesome:hover {
    background-color: #111;
    color: #fff;
}

/**************************************
            awesome sizes
**************************************/

.small.awesome {
    font-size: 11px;
}
.medium.awesome {
    font-size: 13px;
}
.large.awesome {
    font-size: 14px;
    padding: 8px 14px 9px;
}

/**************************************
           awesome colors
**************************************/
.blue.awesome {
    background-color: #2daebf;
}
.red.awesome {
    background-color: #e33100;
}
.magenta.awesome {
    background-color: #a9014b;
}
.orange.awesome {
    background-color: #ff5c00;
}
.yellow.awesome {
    background-color: #ffb515;
}